/* Root styles */

body, html, #root, .app-root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  background: var(--color-bg);
  color: var(--color-text-main);
}
.footer {
  background: var(--color-divider);
  color: var(--color-text-main);
  text-align: center;
  padding: 1.2rem 0 1rem 0;
  font-size: 1rem;
  margin-top: 3rem;
}




